

p { color: #337ab7;}

p { color: #2196F3;}

p { color: #04b09c;}


p { color: #e8751e;}
p { color: #007aae;}
p { color: #003865;}
p { color: #757575;}
p { color: #f1fafd;}
p { color: #212121;}


body {background-color: #04b09c;}